.prothikona{
	height: 30%;
	outline-width: 4px;

}
h1{ text-align: center;
}
.defterhikona{
	height:30%;
	width:50%;
}

.kentro{
	text-align: center;
}
.container{background-color: lightpink;
	border-width: 3px;
	border-color:black;
	border-style:solid;}